$grid-gap: 2rem;

//COLORS
$color-orange: #057fec;
$color-turquoise: #ce4506;
$color-light-blue: #ff8349;
$color-olive: #7b30b5;
$color-gold: #071ee2;
$color-green: #920d5e;
$color-grey-1: #e9e2df;
$color-grey-2: #c3b7b2;
$color-grey-3: #726763;